@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

body {
  @apply bg-neutral-50 text-neutral-950 antialiased dark:bg-neutral-950 dark:text-neutral-50;
  user-select: none;
}

/* Permitir seleção apenas em campos editáveis */
:where(input, textarea, select, [contenteditable="true"]) {
  user-select: text;
}
